body {
  margin: 0;
  background: #dedede;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.orquidea {
  background: /*#22a6b3*/ #621055;
}

.orquidea.light {
  background: /*#7ed6df*/ #ab4c9c;
}

.violeta {
  background: /*#be2edd*/ #b52b65;
}

.violeta.light {
  background: /*#e056fd*/ #f65397;
}

.rosa {
  background: /*#f0932b*/ #ed6663;
}

.rosa.light {
  background: /*#ffbe76*/ #ffa3a1;
}

.melocoton {
  background: /*#6ab04c*/ #ffa372;
}

.melocoton.light {
  background: /*#badc58*/ #ffc6a8;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}

.hide {
  display: none;
}

*{
  font-family: "Arial";
}


.btn-start {
      cursor: pointer;
      width: 420px;
      height: 100px;
      background: #ecf0f1;
      color: #2c3e50;
      border: none;
      border-bottom: 4px solid #c4c6c7;
      border-radius: 8px;
      font-size: 3em;
      position: absolute;
      top: calc(50% - 50px);
      left: calc(50% - 210px);
      transition: .5s;
      outline: none;
    }

    .btn-start:hover {
      color: #ecf0f1;
      background: #2c3e50;
      border-bottom: 4px solid #1f3346;
    }
    
    .btn-start:active {
      transform: scale(.95);
    }